/6-errors-handling/03-png-detector-with-panic/pngs/cups-jpg.png
/6-errors-handling/03-png-detector-with-panic/pngs/empty.png
/6-errors-handling/03-png-detector-with-panic/pngs/forest-jpg.png
/6-errors-handling/03-png-detector-with-panic/pngs/golden.png
/6-errors-handling/03-png-detector-with-panic/pngs/shakespeare-text.png
/6-errors-handling/03-png-detector-with-panic/pngs/work.png
/10-channels-goroutines/08-channels-tour-example/main
